<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Bootstrap demo</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65'
      crossorigin='anonymous'
    />
  </head>
  <body>
    <div class='modal fade' id='createUser' tabindex='-1' aria-labelledby='create Model' aria-hidden='true'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h1 class='modal-title fs-5' id='exampleModalLabel'>Modal title</h1>
            <button type='button' class='btn-close'data-bs-dismiss='modal' aria-label='Close'></button>
          </div>
          <form action="/user/add" method="post">
          <div class='modal-body'>
        
            <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" >
                
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" >
                
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" >
                
            </div>
          </div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
            <button type='submit' class='btn btn-primary'>Save changes</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <h1>Login</h1>
    <div class="d-flex justify-content-end"> <a class=' btn btn-primary' data-bs-toggle="modal" data-bs-target="#createUser"> Add User</a></div>
    <div class='container'>
      <form action='/auth/login' method='post'>
        <div class='mb-3 col-6'>
          <label for='exampleInputEmail1' class='form-label'>Email address</label>
          <input
            type='email'
            class='form-control'
            id='exampleInputEmail1'
            aria-describedby='emailHelp'
            name='email'
          />
        </div>
        <div class='mb-3 col-6'>
          <label for='exampleInputPassword1' class='form-label'>Password</label>
          <input
            type='password'
            class='form-control'
            id='exampleInputPassword1'
            name='password'
          />
        </div>
        <div class='mb-3 form-check'>
          <input type='checkbox' class='form-check-input' id='exampleCheck1' />
          <label class='form-check-label' for='exampleCheck1'>Check me out</label>
        </div>
        <button type='submit' class='btn btn-primary'>Submit</button>
      </form>
    </div>

    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4'
      crossorigin='anonymous'
    ></script>
  </body>
</html>