<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Bootstrap demo</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65'
      crossorigin='anonymous'
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  </head>
  <body>
        
    <div class='modal fade' id='createUser' tabindex='-1' aria-labelledby='create Model' aria-hidden='true'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h1 class='modal-title fs-5' id='exampleModalLabel'>Modal title</h1>
            <button type='button' class='btn-close'data-bs-dismiss='modal' aria-label='Close'></button>
          </div>
          <form action="/user/add" method="post">
          <div class='modal-body'>
        
            <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" >
                
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" >
                
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" >
                
            </div>
          </div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
            <button type='submit' class='btn btn-primary'>Save changes</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <h1 style='text-align: center;'>USer List</h1>


    <div class='container mb-3 g-3 mt-5'>

      <a class='btn btn-primary' data-bs-toggle="modal" data-bs-target="#createUser"> Add User</a>  <a class='btn btn-primary' href="/"> Go to Books</a>

      <table class='table table-striped'>
        <thead>
          <tr>
            <th scope='col'>#</th>
            <th scope='col'>User Name</th>
            <th scope='col'>Email</th>
            
            <th scope='col'>Operation</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
            <tr>
              <th scope='row'>{{this._id}}</th>
              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              
              <td>
                <a href="javascript:;" data-id = {{this._id}} class="edit_id"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                <span style="margin-right: 10px;"></span>
                <a href="user/delete/{{this._id}}"><i class="fas fa-trash"></i></i></a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4'
      crossorigin='anonymous'
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(document).ready(function() {
          // Function to fetch and display data in the modal
          $(".edit_id").on('click', function() {
            var id = $(this).attr("data-id");

            function fetchAndDisplayData() {
              $.ajax({
                url: '/get/' + id, 
                method: 'POST',
                success: function(data) {
                  // Populate the modal with data
                  console.log(data);    
                  $('#edit_title').val(data.title); 
                  $('#edit_desc').val(data.description); 
                  $('#edit_author').val(data.author); 
                  $('#edit_price').val(data.price); 
                  $('#edit_category').val(data.category);             
                },
                error: function() {
                  alert('Error fetching data.');
                }
              });
            }

            // Event listener for the button click
            $('#editModal').on('show.bs.modal', function() {
              fetchAndDisplayData();
            });

            // Show the modal manually when the edit button is clicked
            $('#editModal').modal('show');
          });
        });
      </script>

      <script>
        $(document).ready(function() {
          // Function to update data with AJAX
          var id;

          $('.edit_id').click(function() {
            id = $(this).attr("data-id");     
          });

          $('#editForm').submit(function(event) {
          
            var formData = {
              title: $('#edit_title').val(),
              description: $('#edit_desc').val(),
              author: $('#edit_author').val(),
              price: $('#edit_price').val(),
              category: $('#edit_category').val()
            };

          
            updateData(formData);

            // Close the modal
            $('#editModal').modal('hide');
          });


          function updateData(data) {
            $.ajax({
              url: '/update/'+ id, 
              method: 'POST',
              data: data, 
              success: function(response) {         
                console.log('Data updated successfully');
              },
              error: function() {          
                alert('Error updating data.');
              }
            });
          }

          // Form submission handler
          
        });
      </script>


  </body>
</html>